
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@Html.ActionLink("Lista Produktów", "GetProductsList", null, new {@class="btn btn-info"})
@Html.ActionLink("Dodaj Nowy", "AddProduct", null, new { @class = "btn btn-info" })
