
@{
    ViewBag.Title = "Index";
}

<h2>Products menu</h2>

@Html.ActionLink("Product List", "GetProductsList", null, new {@class="btn btn-info"})
@Html.ActionLink("Add Product", "AddProduct", null, new { @class = "btn btn-info" })
