
@{
    ViewBag.Title = "Index";
}

<h2>Discount Menu</h2>

@Html.ActionLink("Add Discount", "AddDiscount", null, htmlAttributes: new {@class="btn btn-info" })
@Html.ActionLink("Show Discounts", "GetDiscounts", null, htmlAttributes: new { @class = "btn btn-info" })