@using Store.DataAccess
@model Store.DataAccess.FilterViewModels.StoreFilterVM
@{
    ViewBag.Title = "Index";
}

<h2>Stores menu</h2>

@Html.ActionLink("Stores", "GetStoreIncome",null , htmlAttributes: new  { @class="btn btn-info"} )
@Html.ActionLink("Add Store", "AddStore", null , htmlAttributes: new { @class = "btn btn-info" })

